<html>
  <body>
    This tool will convert an ernie service into a category
    To use, select the whole service row in the google sheet by clicking on the row number on the left, then doing Apple+C
    Then paste this data into the top input box and click 'Submit'
    Select the output in the bottom box and copy this to the clipboard. Paste it into the row on the Categories sheet after selecting a new blank row.
    <form method="post">
      <textarea name="input"><%= input %></textarea>
      <input type="submit" />
    </form>
    <textarea><%= result %></textarea>
  <body>
</html>
